<title>ANUPAMA MEDICAL SYNDICATE***undefined***ANUPAMA.html</title><h3>ANUPAMA MEDICAL SYNDICATE***undefined***ANUPAMA.html</h3><br><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Item Name</td>
      <td>Pack</td>
      <td>CODE</td>
      <td>Opening</td>
      <td>Received</td>
      <td>Issued</td>
      <td>Closing</td>
    </tr>
    <tr>
      <th>1</th>
      <td>IPCA LADORATORIES LTD(ACTIVA)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>AZR TAB 5%</td>
      <td>10,S</td>
      <td>IPAZ5</td>
      <td>22.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>22.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CALTEN D 500TAB</td>
      <td>10,S</td>
      <td>IACD5T</td>
      <td>45.00</td>
      <td>55.00</td>
      <td>85.00</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Donica cap</td>
      <td>10,S</td>
      <td>IADCC</td>
      <td>50.00</td>
      <td>50.00</td>
      <td>70.00</td>
      <td>30.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>FOLITRAX 10MG TAB</td>
      <td>10,S</td>
      <td>IAFT1</td>
      <td>32.00</td>
      <td>50.00</td>
      <td>58.00</td>
      <td>24.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>FOLITRAX 15MG TAB</td>
      <td>10,S</td>
      <td>IAFT15</td>
      <td>36.00</td>
      <td>0.00</td>
      <td>12.00</td>
      <td>24.00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>FOLITRAX 2.5MGT AB</td>
      <td>10,S</td>
      <td>IAFT2</td>
      <td>97.00</td>
      <td>90.00</td>
      <td>129.00</td>
      <td>58.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>FOLITRAX 25TAB,S</td>
      <td>4,S</td>
      <td>IAF25</td>
      <td>37.00</td>
      <td>0.00</td>
      <td>16.00</td>
      <td>21.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>FOLITRAX 5MG TAA</td>
      <td>10,S</td>
      <td>IAFT5</td>
      <td>71.00</td>
      <td>110.00</td>
      <td>116.00</td>
      <td>65.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>FOLITRAX 7.5MG TAB</td>
      <td>10,S</td>
      <td>IAFT7</td>
      <td>55.00</td>
      <td>110.00</td>
      <td>120.00</td>
      <td>45.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>FOLITRAX INJ 15MG</td>
      <td>1ML</td>
      <td>IAFLI</td>
      <td>95.00</td>
      <td>0.00</td>
      <td>8.00</td>
      <td>87.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>FOLITREX 20MG TAB 5%</td>
      <td>4,S</td>
      <td>IPFT2</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>25.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>FOLITREX 25MG AMP 5 %</td>
      <td>1ML</td>
      <td>IPFI2</td>
      <td>12.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>FOLITREX 7.5MG AMP</td>
      <td>1ML</td>
      <td>IPFA7</td>
      <td>83.00</td>
      <td>0.00</td>
      <td>3.00</td>
      <td>80.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>HCQS 200 TAB 15,S</td>
      <td>15,S</td>
      <td>IAHC1</td>
      <td>1,081.00</td>
      <td>4,000.00</td>
      <td>3,396.00</td>
      <td>1,685.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>HCQS 300MGT AB</td>
      <td>10,S</td>
      <td>IAHC3</td>
      <td>28.00</td>
      <td>30.00</td>
      <td>20.00</td>
      <td>38.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>HCQS 400MG TAB</td>
      <td>10,S</td>
      <td>IAHC4</td>
      <td>14.00</td>
      <td>900.00</td>
      <td>598.00</td>
      <td>316.00</td>
    </tr>
    <tr>
      <th>18</th>
      <td>LEFNO 10MG TAB</td>
      <td>10,S</td>
      <td>IALF1</td>
      <td>137.00</td>
      <td>60.00</td>
      <td>140.00</td>
      <td>57.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>LEFNO 20MG TAB</td>
      <td>10,S</td>
      <td>IALF2</td>
      <td>56.00</td>
      <td>90.00</td>
      <td>67.00</td>
      <td>79.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>MMF -  S   TAB</td>
      <td>10,s</td>
      <td>IAMF1</td>
      <td>13.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>13.00</td>
    </tr>
    <tr>
      <th>21</th>
      <td>MMF 500MG TAB,S</td>
      <td>10,S</td>
      <td>IAMM5</td>
      <td>15.00</td>
      <td>12.00</td>
      <td>13.00</td>
      <td>14.00</td>
    </tr>
    <tr>
      <th>22</th>
      <td>SAAZ DS TAB</td>
      <td>10,S</td>
      <td>IASDT</td>
      <td>127.00</td>
      <td>60.00</td>
      <td>152.00</td>
      <td>35.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>SAAZ TAB</td>
      <td>10,S</td>
      <td>IAST</td>
      <td>60.00</td>
      <td>50.00</td>
      <td>66.00</td>
      <td>44.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td></td>
      <td>GroupTotal :</td>
      <td></td>
      <td>176,233.21</td>
      <td>437,982.35</td>
      <td>409,038.09 224,495.16</td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td>IPCA PAIN MANGEMENT</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>ETOVA 200 TAB</td>
      <td>10,S</td>
      <td>IAET2</td>
      <td>15.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ETOVA 300MG TAB,S</td>
      <td>10,S</td>
      <td>IAET3</td>
      <td>20.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>20.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ETOVA 400MG CAP,S</td>
      <td>10,S</td>
      <td>IAET4</td>
      <td>163.00</td>
      <td>160.00</td>
      <td>228.00</td>
      <td>95.00</td>
    </tr>
    <tr>
      <th>29</th>
      <td>ETOVA ER 400MG TAB,S</td>
      <td>10,S</td>
      <td>IAER4</td>
      <td>30.00</td>
      <td>30.00</td>
      <td>34.00</td>
      <td>26.00</td>
    </tr>
    <tr>
      <th>30</th>
      <td>ETOVA ER 600 TAB</td>
      <td>10,S</td>
      <td>IAEE6</td>
      <td>24.00</td>
      <td>20.00</td>
      <td>18.00</td>
      <td>26.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>ETOVA MR 400/4 TAB,S</td>
      <td>10,S</td>
      <td>IHE404</td>
      <td>130.00</td>
      <td>110.00</td>
      <td>135.00</td>
      <td>105.00</td>
    </tr>
    <tr>
      <th>32</th>
      <td></td>
      <td>GroupTotal :</td>
      <td></td>
      <td>39,162.31</td>
      <td>33,512.19</td>
      <td>43,959.09</td>
      <td>30,640.21</td>
    </tr>
  </tbody>
</table>