<title>PAVAN MEDICAL DISTRIBUTORS***undefined***PAVAN.html</title><h3>PAVAN MEDICAL DISTRIBUTORS***undefined***PAVAN.html</h3><br><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Item Name</td>
      <td>Pack</td>
      <td>Opening</td>
      <td>Received</td>
      <td>Issued</td>
      <td>Closing</td>
    </tr>
    <tr>
      <th>1</th>
      <td>IPCA(ACTIVA)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>APRAIZE 20 TAB</td>
      <td>4'S</td>
      <td>21.00</td>
      <td>40.00</td>
      <td>20.00</td>
      <td>41.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AZR TAB</td>
      <td>10'S</td>
      <td>57.00</td>
      <td></td>
      <td>22.00</td>
      <td>35.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CALTEN D 500MG TAB</td>
      <td>15'S</td>
      <td>95.00</td>
      <td>300.00</td>
      <td>245.00</td>
      <td>150.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>EBUXO 40MG TAB</td>
      <td>10'S</td>
      <td>10.00</td>
      <td></td>
      <td></td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>EBUXO 80MG TAB</td>
      <td>10'S</td>
      <td>12.00</td>
      <td></td>
      <td></td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ETOVA 300MG TAB</td>
      <td>10'S</td>
      <td>14.00</td>
      <td></td>
      <td></td>
      <td>14.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ETOVA 400MG TAB</td>
      <td>10'S</td>
      <td>270.00</td>
      <td>300.00</td>
      <td>393.00</td>
      <td>177.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ETOVA ER 600 TAB</td>
      <td>10'S</td>
      <td>43.00</td>
      <td>30.00</td>
      <td>25.00</td>
      <td>48.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ETOVA ER TAB</td>
      <td>10'S</td>
      <td>24.00</td>
      <td>30.00</td>
      <td>15.00</td>
      <td>39.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ETOVA MR 400/4 TAB</td>
      <td>10'S</td>
      <td>123.00</td>
      <td>300.00</td>
      <td>213.00</td>
      <td>210.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>FOLITRAX 10MG TAB</td>
      <td>10'S</td>
      <td>38.00</td>
      <td>60.00</td>
      <td>38.00</td>
      <td>60.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>FOLITRAX 15 INJ</td>
      <td>1ML</td>
      <td>50.00</td>
      <td>50.00</td>
      <td>49.00</td>
      <td>51.00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>FOLITRAX 15 TAB</td>
      <td>10'S</td>
      <td>32.00</td>
      <td>70.00</td>
      <td>47.00</td>
      <td>55.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>FOLITRAX 2.5MG TAB</td>
      <td>10'S</td>
      <td>101.00</td>
      <td>50.00</td>
      <td>91.00</td>
      <td>60.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>FOLITRAX 20 INJ</td>
      <td>1ML</td>
      <td>10.00</td>
      <td></td>
      <td></td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>FOLITRAX 20MG TAB</td>
      <td>4'S</td>
      <td>10.00</td>
      <td>25.00</td>
      <td>10.00</td>
      <td>25.00</td>
    </tr>
    <tr>
      <th>18</th>
      <td>FOLITRAX 25 MG INJ</td>
      <td>1'S</td>
      <td>14.00</td>
      <td>10.00</td>
      <td>12.00</td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>FOLITRAX 25 MG TAB</td>
      <td>4'S</td>
      <td>33.00</td>
      <td>55.00</td>
      <td>43.00</td>
      <td>45.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>FOLITRAX 50 INJ</td>
      <td>2ML</td>
      <td>10.00</td>
      <td>50.00</td>
      <td>20.00</td>
      <td>40.00</td>
    </tr>
    <tr>
      <th>21</th>
      <td>FOLITRAX 5MG TAB</td>
      <td>10'S</td>
      <td>69.00</td>
      <td>130.00</td>
      <td>110.00</td>
      <td>89.00</td>
    </tr>
    <tr>
      <th>22</th>
      <td>FOLITRAX 7.5 INJ</td>
      <td>1ML</td>
      <td>27.00</td>
      <td></td>
      <td>6.00</td>
      <td>21.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>FOLITRAX 7.5MG TAB</td>
      <td>10'S</td>
      <td>56.00</td>
      <td>230.00</td>
      <td>192.00</td>
      <td>94.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td>HCQS 300 MG TAB</td>
      <td>10'S</td>
      <td>95.00</td>
      <td>50.00</td>
      <td>60.00</td>
      <td>85.00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>HCQS 400MG TAB</td>
      <td>10'S</td>
      <td>117.00</td>
      <td>200.00</td>
      <td>105.00</td>
      <td>212.00</td>
    </tr>
    <tr>
      <th>26</th>
      <td>HCQS-200TABS</td>
      <td>15'S</td>
      <td>445.00</td>
      <td>2,900.00</td>
      <td>2,436.00</td>
      <td>909.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>IGURATI-25</td>
      <td>10'S</td>
      <td>33.00</td>
      <td></td>
      <td>7.00</td>
      <td>26.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>LEFNO 10MG TAB</td>
      <td>10'S</td>
      <td>150.00</td>
      <td>500.00</td>
      <td>415.00</td>
      <td>235.00</td>
    </tr>
    <tr>
      <th>29</th>
      <td>LEFNO 20MG TAB</td>
      <td>10'S</td>
      <td>53.00</td>
      <td>110.00</td>
      <td>69.00</td>
      <td>94.00</td>
    </tr>
    <tr>
      <th>30</th>
      <td>MMF TAB</td>
      <td>10'S</td>
      <td>30.00</td>
      <td>60.00</td>
      <td>42.00</td>
      <td>48.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>MMF-S TAB</td>
      <td>10'S</td>
      <td>20.00</td>
      <td>50.00</td>
      <td>23.00</td>
      <td>47.00</td>
    </tr>
    <tr>
      <th>32</th>
      <td>SAAZ DS TAB</td>
      <td>10'S</td>
      <td>121.00</td>
      <td>300.00</td>
      <td>185.00</td>
      <td>236.00</td>
    </tr>
    <tr>
      <th>33</th>
      <td>SAAZ TAB</td>
      <td>10'S</td>
      <td>99.00</td>
      <td>300.00</td>
      <td>210.00</td>
      <td>189.00</td>
    </tr>
    <tr>
      <th>34</th>
      <td>TADACT 20MG TAB</td>
      <td>10'S</td>
      <td>10.00</td>
      <td></td>
      <td></td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>35</th>
      <td>TFCT-NIB TAB</td>
      <td>10'S</td>
      <td>69.00</td>
      <td>300.00</td>
      <td>237.00</td>
      <td>132.00</td>
    </tr>
    <tr>
      <th>36</th>
      <td></td>
      <td></td>
      <td>235,425.50</td>
      <td>637,271.29</td>
      <td>523,773.59</td>
      <td>372,723.79</td>
    </tr>
  </tbody>
</table>