<title>POORNIMA MEDICAL AGENCIES***undefined***POORNIMA.html</title><h3>POORNIMA MEDICAL AGENCIES***undefined***POORNIMA.html</h3><br><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Item Name</td>
      <td>Pack</td>
      <td>Opening</td>
      <td>Received</td>
      <td>Issued</td>
      <td>Closing</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Ipca Activa</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>Apraize 20mg tab</td>
      <td>4's</td>
      <td>79.00</td>
      <td></td>
      <td>8.00</td>
      <td>71.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Arpaize 20 Tab</td>
      <td>4's</td>
      <td>2.00</td>
      <td></td>
      <td></td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AZR Tab</td>
      <td>10's</td>
      <td>47.00</td>
      <td></td>
      <td>11.00</td>
      <td>36.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Calten D 500</td>
      <td>15's</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>125.00</td>
      <td>75.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>EBUXO-40 TAB</td>
      <td>10's</td>
      <td></td>
      <td>1.00</td>
      <td>1.00</td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>Etova 400 Tab</td>
      <td>10's</td>
      <td>218.00</td>
      <td></td>
      <td>114.00</td>
      <td>104.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Etova ER 400 Tab</td>
      <td>10's</td>
      <td>18.00</td>
      <td></td>
      <td></td>
      <td>18.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Etova ER 600 Tab</td>
      <td>10's</td>
      <td>33.00</td>
      <td>1.00</td>
      <td>4.00</td>
      <td>30.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Etova MR 400/4</td>
      <td>10'S</td>
      <td>104.00</td>
      <td></td>
      <td>74.00</td>
      <td>30.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Folitrax 10 Tab</td>
      <td>10's</td>
      <td>29.00</td>
      <td>50.00</td>
      <td>49.00</td>
      <td>30.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Folitrax 15 Tab</td>
      <td>10's</td>
      <td>22.00</td>
      <td>1.00</td>
      <td>8.00</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Folitrax 15MG Inj</td>
      <td>1ml</td>
      <td>23.00</td>
      <td></td>
      <td>4.00</td>
      <td>19.00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Folitrax 2.5mg</td>
      <td>10's</td>
      <td>50.00</td>
      <td>33.00</td>
      <td>70.00</td>
      <td>13.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Folitrax 20mg Inj</td>
      <td>1ml</td>
      <td>9.00</td>
      <td></td>
      <td></td>
      <td>9.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Folitrax 25mg Inj</td>
      <td>1ml</td>
      <td></td>
      <td>10.00</td>
      <td></td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Folitrax 5 Tab</td>
      <td>10's</td>
      <td>52.00</td>
      <td>101.00</td>
      <td>99.00</td>
      <td>54.00</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Folitrax 50mg ing</td>
      <td>2ml</td>
      <td>8.00</td>
      <td>23.00</td>
      <td>16.00</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Folitrax 7.5mg</td>
      <td>10's</td>
      <td>79.00</td>
      <td></td>
      <td>38.00</td>
      <td>41.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>HCQS 300</td>
      <td>10'S</td>
      <td>66.00</td>
      <td>88.00</td>
      <td>13.00</td>
      <td>141.00</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Hcqs 400</td>
      <td>10's</td>
      <td>43.00</td>
      <td>81.00</td>
      <td>53.00</td>
      <td>71.00</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Hcqs Tab</td>
      <td>15's</td>
      <td>242.00</td>
      <td>302.00</td>
      <td>351.00</td>
      <td>193.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Lefno 10mg</td>
      <td>10's</td>
      <td>20.00</td>
      <td>103.00</td>
      <td>57.00</td>
      <td>66.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Lefno 20mg</td>
      <td>10's</td>
      <td>30.00</td>
      <td></td>
      <td>8.00</td>
      <td>22.00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>MMF Tab</td>
      <td>10's</td>
      <td>34.00</td>
      <td></td>
      <td>34.00</td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>Saaz DS Tab</td>
      <td>10's</td>
      <td>47.00</td>
      <td>100.00</td>
      <td>137.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Saaz Tab</td>
      <td>10's</td>
      <td>69.00</td>
      <td>50.00</td>
      <td>102.00</td>
      <td>17.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>GroupTotal :</td>
      <td></td>
      <td>133,000.76</td>
      <td>78,132.37</td>
      <td>125,860.42</td>
      <td>90,748.24</td>
    </tr>
  </tbody>
</table>