testrun/
output/*
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip
*.log
*.pdf
./templates/extractions/excel
./templates/extractions/html
./templates/extractions/resolved
