<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item Name</th>
      <th>Pack</th>
      <th>Opening</th>
      <th>Received</th>
      <th>Issued</th>
      <th>Closing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Apraize 20mg Tabs 4s</td>
      <td>4'S</td>
      <td>21.00</td>
      <td>40.00</td>
      <td>20.00</td>
      <td>41.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AZR 50mg Tabs 10s</td>
      <td>10'S</td>
      <td>57.00</td>
      <td>NaN</td>
      <td>22.00</td>
      <td>35.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Calten D 500mg Tabs 15s</td>
      <td>15'S</td>
      <td>95.00</td>
      <td>300.00</td>
      <td>245.00</td>
      <td>150.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Ebuxo 80mg Tabs 10s</td>
      <td>10'S</td>
      <td>10.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Ebuxo 80mg Tabs 10s</td>
      <td>10'S</td>
      <td>12.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Etova 300mg Tabs 10s</td>
      <td>10'S</td>
      <td>14.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Etova 400mg Tabs 10s</td>
      <td>10'S</td>
      <td>270.00</td>
      <td>300.00</td>
      <td>393.00</td>
      <td>177.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Etova ER 600mg Tabs 10s</td>
      <td>10'S</td>
      <td>43.00</td>
      <td>30.00</td>
      <td>25.00</td>
      <td>48.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Etova ER 400mg Tabs 10s</td>
      <td>10'S</td>
      <td>24.00</td>
      <td>30.00</td>
      <td>15.00</td>
      <td>39.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Etova MR 400/4mg Tabs 10s</td>
      <td>10'S</td>
      <td>123.00</td>
      <td>300.00</td>
      <td>213.00</td>
      <td>210.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Folitrax 10mg Tabs 10s</td>
      <td>10'S</td>
      <td>38.00</td>
      <td>60.00</td>
      <td>38.00</td>
      <td>60.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Folitrax 25 Inj 1ml</td>
      <td>1ML</td>
      <td>50.00</td>
      <td>50.00</td>
      <td>49.00</td>
      <td>51.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Folitrax 5mg Tabs 10s</td>
      <td>10'S</td>
      <td>32.00</td>
      <td>70.00</td>
      <td>47.00</td>
      <td>55.00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Folitrax 2.5mg Tabs 10s</td>
      <td>10'S</td>
      <td>101.00</td>
      <td>50.00</td>
      <td>91.00</td>
      <td>60.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Folitrax 20 inj 1ml</td>
      <td>1ML</td>
      <td>10.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Folitrax 20mg Tabs 4s</td>
      <td>4'S</td>
      <td>10.00</td>
      <td>25.00</td>
      <td>10.00</td>
      <td>25.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Folitrax 15mg Inj 1ml</td>
      <td>1'S</td>
      <td>14.00</td>
      <td>10.00</td>
      <td>12.00</td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Folitrax 2.5mg Tabs 10s</td>
      <td>4'S</td>
      <td>33.00</td>
      <td>55.00</td>
      <td>43.00</td>
      <td>45.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Folitrax 20 inj 1ml</td>
      <td>2ML</td>
      <td>10.00</td>
      <td>50.00</td>
      <td>20.00</td>
      <td>40.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Folitrax 5mg Tabs 10s</td>
      <td>10'S</td>
      <td>69.00</td>
      <td>130.00</td>
      <td>110.00</td>
      <td>89.00</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Folitrax 25 Inj 1ml</td>
      <td>1ML</td>
      <td>27.00</td>
      <td>NaN</td>
      <td>6.00</td>
      <td>21.00</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Folitrax 7.5mg Tabs 10s</td>
      <td>10'S</td>
      <td>56.00</td>
      <td>230.00</td>
      <td>192.00</td>
      <td>94.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>HCQS 300mg Tabs 10s</td>
      <td>10'S</td>
      <td>95.00</td>
      <td>50.00</td>
      <td>60.00</td>
      <td>85.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td>HCQS 400mg Tabs 10s</td>
      <td>10'S</td>
      <td>117.00</td>
      <td>200.00</td>
      <td>105.00</td>
      <td>212.00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>HCQS 200mg Tabs 10s</td>
      <td>15'S</td>
      <td>445.00</td>
      <td>2,900.00</td>
      <td>2,436.00</td>
      <td>909.00</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Igurati 25mg Tabs 10s</td>
      <td>10'S</td>
      <td>33.00</td>
      <td>NaN</td>
      <td>7.00</td>
      <td>26.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Lefno 10mg Tabs 10s</td>
      <td>10'S</td>
      <td>150.00</td>
      <td>500.00</td>
      <td>415.00</td>
      <td>235.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Lefno 20mg Tabs 10s</td>
      <td>10'S</td>
      <td>53.00</td>
      <td>110.00</td>
      <td>69.00</td>
      <td>94.00</td>
    </tr>
    <tr>
      <th>29</th>
      <td>MMF Tabs 10s</td>
      <td>10'S</td>
      <td>30.00</td>
      <td>60.00</td>
      <td>42.00</td>
      <td>48.00</td>
    </tr>
    <tr>
      <th>30</th>
      <td>MMF-S Tabs 10s</td>
      <td>10'S</td>
      <td>20.00</td>
      <td>50.00</td>
      <td>23.00</td>
      <td>47.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Saaz DS Tabs 10s</td>
      <td>10'S</td>
      <td>121.00</td>
      <td>300.00</td>
      <td>185.00</td>
      <td>236.00</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Saaz Tabs 10s</td>
      <td>10'S</td>
      <td>99.00</td>
      <td>300.00</td>
      <td>210.00</td>
      <td>189.00</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Tadact 20mg Tabs 10s</td>
      <td>10'S</td>
      <td>10.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th>34</th>
      <td>TFCT-NIB TAB</td>
      <td>10'S</td>
      <td>69.00</td>
      <td>300.00</td>
      <td>237.00</td>
      <td>132.00</td>
    </tr>
  </tbody>
</table>