<html>
    <title>Resolve Products</title>
    <body>
        <a href="/"><h2>Resolve Products</h2></a>
        <form action = "/api/v1/resolve_products" method = "POST">
            <input type="hidden" id="filename" name="filename" value='{{filename}}'>
            <input type="hidden" id="session_id" name="session_id" value='{{session.id}}'>
          {% for idx, product in product_list %}
          <p>{{idx+1}}. Choose resolved name for : {{product.name}}</p>
            {% for opt in product.options %}
              {% if opt[3] %}
                <input type="radio" name="{{idx}}" id="{{opt[1]}}" value="{{opt[1]}}" required> {{opt[1]}}</input>
              {% else %}
                <input type="radio" name="{{idx}}" id="{{opt[1]}}" value="{{opt[1]}}" required disabled> {{opt[1]}}</input>
              {% endif %}
            <br>
            {% endfor %}
            <br>
          {% endfor %}
        <input type = "submit" value="Submit"/>
      </form>   

      <div class="container" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            {{message}}
            </div>
          {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% block body %}{% endblock %}
        </div>
               
          
   </body>
</html>